#[include autotunetmc.cfg]
#[include adxl.cfg]
[include fluidd.cfg]
[include motor.cfg]
#[include bed_mesh.cfg]
[include start.cfg]
[include KAMP_Settings.cfg]
[include ./KAMP/Adaptive_Meshing.cfg]
[include ./KAMP/Line_Purge.cfg]
[include ./KAMP/Voron_Purge.cfg]
[include ./KAMP/Smart_Park.cfg]

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: -39
position_min: -39
position_max: 216
homing_speed: 50

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -26
position_min: -26
position_max: 210
homing_speed: 50

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -2

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD2
microsteps: 16
#rotation_distance: 7.631358
rotation_distance: 7.40241726
nozzle_diameter: 0.500
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
min_extrude_temp: 0
max_extrude_only_distance: 150
max_extrude_cross_section: 5
#control: pid
#pid_Kp: 30.910
#pid_Ki: 2.240
#pid_Kd: 106.639
min_temp: 0
max_temp: 350
pressure_advance: 0.044

[exclude_object]
[bltouch]
sensor_pin: ^PC14
control_pin: PA1
x_offset: 49
y_offset: 0
#z_offset: 0

[screws_tilt_adjust]
screw1: -25, 23
screw1_name: Front left
screw2: 146, 23
screw2_name: Front right
screw3: 146, 192
screw3_name: Rear right
screw4: -25, 192
screw4_name: Rear left
horizontal_move_z: 10
speed: 250
screw_thread: CW-M4
[safe_z_home]
home_xy_position: 62, 105
z_hop: 5
z_hop_speed: 5

[bed_mesh]
speed: 250
horizontal_move_z: 5
mesh_min: 10, 0
mesh_max: 224, 210 #this may need to be calibrated for your individual printer
probe_count: 5,5 #this is the number of probing points on X then Y axis
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0



[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
control: pid
pid_Kp: 61.763
pid_Ki: 1.287
pid_Kd: 741.157
min_temp: 0
max_temp: 130


[heater_fan nozzle_cooling_fan]
pin: PC7
heater: extruder
heater_temp: 50.0

[fan]
pin: PC6

[mcu]
serial: /dev/ttyS3
restart_method: command
baud: 250000
#serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_35FFD505304E553114852343-if00
#serial: /dev/ttyACM0
[static_digital_output usb_pullup_enable]
pins: !PA14

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[gcode_macro POWER_OFF_PRINTER]
gcode:
  {action_call_remote_method(
    "set_device_power", device="Ender", state="off"
  )}

[delayed_gcode delayed_printer_off]
initial_duration: 0.
gcode:
  {% if printer.idle_timeout.state == "Idle" %}
    POWER_OFF_PRINTER
  {% endif %}

[idle_timeout]
gcode:
  M84
  TURN_OFF_HEATERS
  UPDATE_DELAYED_GCODE ID=delayed_printer_off DURATION=360

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.147500, -0.100000, -0.075000
#*# 	-0.060000, -0.062500, -0.067500
#*# 	-0.057500, -0.057500, -0.060000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 94.7
#*# max_x = 115.27
#*# min_y = 94.7
#*# max_y = 115.27
#*#
#*# [bltouch]
#*# z_offset = 0.300
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.676
#*# pid_ki = 1.283
#*# pid_kd = 109.207
